services:
  postgres:
    image: postgres:17
    restart: always
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=et
      - POSTGRES_PASSWORD=ET
      - PGDATA=/tmp
    volumes:
      - ./dev-container/postgres:/docker-entrypoint-initdb.d/
